<% extends "layout/main.html" %>

<% block content %>
<div id="page">
    <div class="content">
        <!-- 数据展示 -->
        <div class="data-page">
            <!-- 检索 -->
            <div class="page-nav">
                <div class="util-btn">
                    <button class="tb-btn tb-btn-auth btn-new" @click="edit();">新建模式</button>
                </div>
            </div>
            <!-- table -->
            <table>
                <thead>
                <th class="tb-col-3 text-center">模式名称</th>
                <th class="tb-col-6 text-center">开锁描述</th>
                <th class="tb-col-3 text-center">创建时间</th>
                <th class="tb-col-3 text-center">操作</th>
                </thead>
                <tbody>
                <template>
                    <tr v-for="mode in list">
                        <td class="tb-col-3 text-center">{{mode.name}}</td>
                        <td class="tb-col-6 text-center">
                            <span>{{mode.desc}}</span>
                            <a>..查看详情</a>
                        </td>
                        <td class="tb-col-3 text-center">{{mode.addtime}}</td>
                        <td class="tb-col-3 text-center">
                            <button class="tb-btn tb-btn-auth" @click="auth(mode);">授权</button>
                            <button class="tb-btn tb-btn-edit" @click="edit(mode.id);">编辑</button>
                            <button class="tb-btn tb-btn-del del" data-url="<$ helper.createUrl('/web/mode_del') $>" :data-id="mode.id">删除</button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 授权 -->
<div id="auth-mode" class="layer-pop">
    <form action="<$ helper.createUrl('/web/mode_auth') $>" method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">作业名称</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" v-model="mode_name" />
                <input type="hidden" name="mode_id" v-model="mode_id" />
            </div>
        </div>
        <div class="form-group row">
            <label for="user" class="col-sm-3 col-form-label text-right">授权用户</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" readonly class="form-control sel" id="user" @click.stop="dropdown($event)" />
                    <input type="hidden" name="user_id" />
                    <icon class="sel-icon"></icon>
                </div>
                <div class="dropdown sel-item myscroll">
                    <div class="item" v-for="user in list_user" @click="chosenUser(user)">{{user.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="duration" class="col-sm-3 col-form-label text-right">选择时长</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" readonly class="form-control sel" id="duration" name="duration" @click.stop="dropdown($event)" />
                    <icon class="sel-icon"></icon>
                </div>
                <div class="dropdown sel-item myscroll">
                    <div class="item time" v-for="t in time" @click="chosenTime(t,$event)">{{t}}小时</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9">
                <button type="button" class="layer-btn layer-btn-cancel">取消</button>
                <input type="hidden" name="_csrf" value="<$ ctx.csrf $>" />
                <button type="button" class="layer-btn layer-btn-success save">确定</button>
            </div>
        </div>
    </form>
</div>
<% endblock %>

<% block script %>
<script type="text/javascript">

  let page = new Vue({
    el: '#page',
    data: {
      list: JSON.parse(`<$ list | safe $>`) || [],
    },
    methods: {
        auth: function(mode) {
        // 锁名称和id
        authMode.mode_name = mode.name;
        authMode.mode_id = mode.id;

        let layerAuth = layer.open({
          type: 1,
          title: '授权开锁',
          content: $('#auth-mode'),
          area: ['500px', '340px'],
          skin: 'ilock',
        });
        $('#auth-mode')
          .find('.layer-btn-cancel')
          .attr('layer-index', layerAuth);
      },
      edit: function(id = 0) {
          window.location.href = '<$ helper.createUrl("/web/mode_edit") $>' + ( id?`?id=${id}`:'' );
      }
    }
  });
</script>

<!-- 授权作业 -->
<script type="text/javascript">
    let authMode = new Vue({
      el: '#auth-mode',
      data: {
        mode_id: '',
        mode_name: '',
        time: 30,
        list_user:  JSON.parse(`<$ list_user | safe $>`) || []
      },
      methods: {
        dropdown: function(e) {
          $('.dropdown').hide();
          $(e.currentTarget).closest('.form-group').find('.dropdown').show();
        },
        chosenUser: function(user){
          $('.dropdown').hide();
          $('#user').val(user.name);
          $('input[name="user_id"]').val(user.id);
          this.user_id = user.id;
        },
        chosenTime: function(t,e){
          $('.dropdown').hide();
          $('#duration').val($(e.currentTarget).html());
        },
      }
    });
</script>

<% endblock %>
