<% extends "layout/main.html" %>

<% block content %>
<div id="page">
    <div class="content">
        <!-- 数据展示 -->
        <div class="data-page">
            <!-- 检索 -->
            <div class="page-nav">
                <div class="search">
                    <form>
                        <div class="search-group">
                            <div class="search-bar">角色
                                <input class="ipt-sh-text sel" readonly placeholder="按角色搜索" @click.stop="listRole($event)" type="text" name="js" value="<$ query.js $>" />
                                <input type="hidden" name="roleid" value="<$ query.roleid $>" />
                                <icon class="sel-icon" style="top: .5rem;"></icon>
                                <div class="dropdown sel-item myscroll">
                                    <div class="item" v-for="role in role_list" @click="selectRole(role,$event)">{{role.name}}</div>
                                </div>
                            </div>
                            <div class="search-bar">姓名 <input class="ipt-sh-text" placeholder="按姓名搜索" type="text" name="name" value="<$ query.name $>" /></div>
                            <div class="search-bar">手机号 <input class="ipt-sh-text" placeholder="按手机号搜索" type="number" maxlength="11" name="phone" value="<$ query.phone $>" /></div>
                            <div class="search-bar"><button class="tb-btn tb-btn-auth">查询</button></div>
                        </div>
                        <input type="hidden" name="_csrf" value="<$ ctx.csrf $>">
                    </form>
                </div>
                <div class="util-btn">
                    <button class="tb-btn tb-btn-auth" @click="importUser()">导入</button>
                    <button class="tb-btn tb-btn-auth" @click="auth()">批量授权</button>
                    <button class="tb-btn tb-btn-auth" @click="add()">添加</button>
                </div>
            </div>
            <!-- table -->
            <table>
                <thead>
                    <th class="tb-col-1 text-center">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ck-all">
                            <label class="custom-control-label" for="ck-all"></label>
                        </div>
                    </th>
                    <th class="tb-col-4">工号</th>
                    <th class="tb-col-2">姓名</th>
                    <th class="tb-col-2">拼音</th>
                    <th class="tb-col-3">手机号</th>
                    <th class="tb-col-2">所属角色</th>
                    <th class="tb-col-6 text-center">操作</th>
                </thead>
                <template>
                <tbody>
                    <tr v-for="(user,index) in list">
                        <td class="tb-col-1 text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="user.id" class="custom-control-input ck-item" :id="'ck-item' + index">
                                <label class="custom-control-label" :for="'ck-item' + index"></label>
                            </div>
                        </td>
                        <td class="tb-col-4">{{user.job_no}}</td>
                        <td class="tb-col-2">{{user.name}}</td>
                        <td class="tb-col-2">{{user.pinyin}}</td>
                        <td class="tb-col-3">{{user.phone}}</td>
                        <td class="tb-col-2">{{user.role_name}}</td>
                        <td class="tb-col-6 text-center">
                            <button class="tb-btn tb-btn-auth" v-if="user.is_check == 0">审批</button>
                            <button class="tb-btn tb-btn-edit" @click="edit(user)">修改</button>
                            <button class="tb-btn tb-btn-del del" data-url="<$ helper.getHost() $>/web/del_user" :data-id="user.id">删除</button>
                        </td>
                    </tr>
                </tbody>
                </template>
            </table>

            <!-- 分页 -->
            <div id="paginate"></div>
        </div>
    </div>
</div>

<!-- 弹出层 -->
<!-- 编辑用户 -->
<div id="edit-user" class="layer-pop">
    <form action="<$ helper.getHost()$>/web/edit_user" method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">工号</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="job_no" name="job_no">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">姓名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="name" name="name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">姓名拼音</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" v-model="pinyin" name="pinyin">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">手机号码</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" v-model="phone" name="phone" maxlength="11" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">选择角色</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" readonly class="form-control sel" @click.stop="listRole($event)" v-model="role">
                    <input type="hidden" name="role_id" v-model="role_id">
                    <icon class="sel-icon"></icon>
                </div>
                <div class="dropdown sel-item myscroll">
                    <div class="item" v-for="role in role_list" @click="selectRole(role)">{{role.name}}</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="user_id" v-model="user_id" />
        <input type="hidden" name="_csrf" value="<$ ctx.csrf $>" />
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9">
                <button type="button" class="layer-btn layer-btn-cancel">取消</button>
                <button type="button" class="layer-btn layer-btn-success save">确定</button>
            </div>
        </div>
    </form>
</div>

<!-- 批量授权 -->
<div id="auth-patch" class="layer-pop">
    <form>
        <div class="form-group row"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">选择角色</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" readonly class="form-control sel" @click.stop="listRole($event)" v-model="role">
                    <input type="hidden" name="role_id" v-model="role_id">
                    <icon class="sel-icon"></icon>
                </div>
                <div class="dropdown sel-item myscroll">
                    <div class="item" v-for="role in role_list" @click="selectRole(role)">{{role.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right"></label>
            <div class="col-sm-9">
                <button type="button" class="layer-btn layer-btn-cancel">取消</button>
                <button type="button" class="layer-btn layer-btn-success" @click="auth()">确定</button>
            </div>
        </div>
    </form>
</div>

<!-- 导入用户 -->
<div id="import-user" class="layer-pop">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">
            <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
        </label>
        <div class="col-sm-9">
            <div style="padding-top: calc(.375rem + 1px);height: 38px;line-height: 38px;">
                <input type="text" name="filename" placeholder="请上传xlsx文件" class="form-control-plaintext" readonly />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">点击<a href="" style="color: #009688;">下载</a>模板</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right"></label>
        <div class="col-sm-9">
            <button type="button" class="layer-btn layer-btn-cancel">取消</button>
            <button type="button" class="layer-btn layer-btn-success import-confirm">导入</button>
        </div>
    </div>
</div>
<% endblock %>

<% block script %>
<script type="text/javascript">
  let page = new Vue({
    el: '#page',
    data: {
      list: JSON.parse(`<$ list | safe $>`),
      role_list: JSON.parse(`<$ list_role | safe $>`),
    },
    methods: {
      edit: function(user) {
        edit.user_id = user.id;
        edit.job_no = user.job_no;
        edit.name = user.name;
        edit.pinyin = user.pinyin;
        edit.phone = user.phone;
        edit.role = user.role_name;
        edit.role_id = user.role_id;
        editPop();
      },
      add: function() {
        editPop();
      },
      auth: function(){
        let check_ids = [];
        $('.ck-item').each(function() {
          if ($(this).prop('checked')){
            check_ids.push($(this).val());
          }
        });
        if (check_ids.length === 0){
          layer.msg('请先选择用户');
        }else{
          auth.ck_users = check_ids;
          let layerAuth = layer.open({
            type: 1,
            title: '批量授权用户',
            content: $('#auth-patch'),
            area: ['500px', 'auto'],
            skin: 'ilock',
          });
          $('#auth-patch').find('.layer-btn-cancel').attr('layer-index',layerAuth);
        }
      },
      importUser: function() {
        let layerImport = layer.open({
          type: 1,
          title: '导入用户',
          content: $('#import-user'),
          area: ['500px', 'auto'],
          skin: 'ilock',
        });
        $('#import-user').find('.layer-btn-cancel').attr('layer-index',layerImport);
      },
      listRole: function(e) {
        $(e.currentTarget).closest('form').find('.dropdown').show();
      },
      selectRole: function(role,e) {
        $(e.currentTarget).closest('form').find('input[name="js"]').val(role.name);
        $(e.currentTarget).closest('form').find('input[name="roleid"]').val(role.id);
      },
    }
  });

  // 编辑用户弹窗
    function editPop(){
      let layerEdit = layer.open({
        type: 1,
        title: '编辑用户',
        content: $('#edit-user'),
        area: ['500px', 'auto'],
        skin: 'ilock',
      });
      $('#dit-user').find('.layer-btn-cancel').attr('layer-index',layerEdit);
    }
</script>

<!-- 用户编辑 -->
<script type="text/javascript">
  let edit = new Vue({
    el: '#edit-user',
    data: {
      user_id: '',
      job_no: '',
      name: '',
      pinyin: '',
      phone: '',
      role: '',
      role_id: '',
      role_list: JSON.parse(`<$ list_role | safe $>`),
    },
    methods: {
      listRole: function(e) {
        $(e.currentTarget).closest('.form-group').find('.dropdown').show();
      },
      selectRole: function(role) {
        this.role = role.name;
        this.role_id = role.id;
      }
    }
  });

</script>

<!-- 批量授权 -->
<script type="text/javascript">
    let auth = new Vue({
      el: '#auth-patch',
      data: {
        ck_users: [],
        role: '',
        role_id: '',
        role_list: JSON.parse(`<$ list_role | safe $>`),
      },
      methods: {
        listRole: function(e) {
          $(e.currentTarget).closest('.form-group').find('.dropdown').show();
        },
        selectRole: function(role) {
          this.role = role.name;
          this.role_id = role.id;
        },
        auth: function() {
          if (!this.role_id){
            layer.msg('请先选择角色');
          }else{
            $.ajax({
              url: `<$ helper.getHost() $>/web/auth_patch`,
              type: 'post',
              data: {
                user_ids: auth.ck_users,
                role_id: auth.role_id,
                _csrf
              },
              success: function(res) {
                if (res.code === 0){
                  layer.msg('操作成功',{ time: 1500 },function(){
                    window.location.reload();
                  });
                }else{
                  layer.msg(res.msg);
                }
              },
              error: function() {
                layer.msg('授权失败');
              }
            });
          }
        }
      }
    });
</script>

<!-- 上传文件 -->
<script type="text/javascript">

  // 渲染上传插件
  const uploadInst = upload.render({
    elem: '#upload' //绑定元素
    ,url: `<$ helper.createUrl('/web/upload_file',{ _csrf: ctx.csrf }) $>` //上传接口
    ,done: function(res){
      layer.closeAll();
      if (res.code === 0){

        layer.msg('上传成功',{ time: 1500 },function(){
          window.location.reload();
        });
      }else{
        layer.msg('导入数据失败~');
      }
    }
    ,error: function(){

      layer.msg('上传错误~');
    }
    ,choose: function(obj){
      //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
      obj.preview(function(index, file, result) {
        // console.log(index); //得到文件索引
        console.log(file.name); //得到文件对象
        // console.log(result); //得到文件base64编码，比如图片
        $('input[name="filename"]').val(file.name);
        //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增

        //这里还可以做一些 append 文件列表 DOM 的操作

      });
    }
    ,auto: false
    ,bindAction: '.import-confirm'
    ,accept: 'file'
    ,acceptMime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    ,exts: 'xlsx'
    ,size: 50
    ,field: 'file'
  });
</script>

<% endblock %>
