<% extends "layout/main.html" %>

<% block content %>
<div id="page">
    <template>
    <div class="content">
        <!-- 分类树 -->
        <div class="left-tree">
            <div class="tree-list" id="tree">
                <div class="tree-tab" :class="'tab' + index" v-for="(list,index) in list_region">
                    <div class="tree-item" :id="'tab' + region.id" v-for="(region,index) in list">
                        <div class="item" :data-id="region.id" @click="showData(region,$event)">
                            <span class="icon iconfont" :class="getAgentClass(region)"></span>
                            <span class="region-name">{{ region.name }}</span>
                        </div>
                        <div class="child-list"></div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 数据展示 -->
        <div class="data-page">
            <table>
                <thead>
                <th class="tb-col-1 text-center">锁状态</th>
                <th class="tb-col-5 text-center">锁ID</th>
                <th class="tb-col-6">锁名称</th>
                <th class="tb-col-4 text-center">操作</th>
                </thead>
                <tbody>
                <tr v-for="(lock,index) in list_lock">
                    <td class="tb-col-1 text-center">开启</td>
                    <td class="tb-col-5 text-center">{{lock.lock_no}}</td>
                    <td class="tb-col-6">{{lock.name}}</td>
                    <td class="tb-col-4 text-center">
                        <button class="tb-btn tb-btn-auth" @click="auth(lock)">授权</button>
                        <button class="tb-btn tb-btn-edit" @click="edit(lock)">编辑</button>
                        <button class="tb-btn tb-btn-del del" data-url="<$ helper.getHost() $>/web/del_lock" :data-id="lock.id">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </template>
</div>

<!-- 弹窗 -->
<!-- 编辑锁 -->
<div id="edit-lock" class="layer-pop">
    <div class="form-group row">
        <label for="area" class="col-sm-3 col-form-label text-right">选择区域</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" readonly class="form-control sel" id="area" v-model="area">
                <icon class="sel-icon"></icon>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="lock_name" class="col-sm-3 col-form-label text-right">锁的名称</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="lock_name" v-model="lock">
            <div class="error-tips">{{error_tips}}</div>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right"></label>
        <div class="col-sm-9">
            <button class="layer-btn layer-btn-cancel">取消</button>
            <button class="layer-btn layer-btn-success edit-confirm">确定</button>
        </div>
    </div>
</div>

<!-- 授权 -->
<div id="auth-lock" class="layer-pop">
    <form action="<$ helper.createUrl('/web/auth_lock') $>" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">锁的名称</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" name="lock" />
                <input type="hidden" name="lock_id" />
            </div>
        </div>
        <div class="form-group row">
            <label for="user" class="col-sm-2 col-form-label text-right">授权用户</label>
            <div class="col-sm-10">
                <div class="input-group" @click.stop="dropdown($event)">
                    <input type="text" readonly class="form-control sel" id="user"/>
                    <input type="hidden" name="user_id" />
                    <icon class="sel-icon"></icon>
                </div>
                <div class="dropdown sel-item myscroll">
                    <div class="item" v-for="user in list_user" @click="chosenUser(user)">{{user.name}}</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right">选择时长</label>
            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" readonly placeholder="开始时间" name="start_time" class="form-control sel" id="startTime" />
                    <icon class="sel-icon"></icon>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" readonly placeholder="结束时间" name="end_time" class="form-control sel" id="endTime" />
                    <icon class="sel-icon"></icon>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-right"></label>
            <div class="col-sm-10">
                <input type="hidden" name="_csrf" value="<$ ctx.csrf $>" />
                <button type="button" class="layer-btn layer-btn-cancel">取消</button>
                <button type="button" class="layer-btn layer-btn-success" @click="confirm()">确定</button>
            </div>
        </div>
    </form>
</div>

<% endblock %>

<% block script %>
<script type="text/javascript">
  let page = new Vue({
    el: '#page',
    data: {
      list_region: JSON.parse(`<$ list_region | safe $>`),
      list_lock: []
    },
    methods: {
      getAgentClass: function(region){
        if (Array.isArray(this.list_region[region.id]) && this.list_region[region.id].length > 0){
          return 'icon-triangle-right';
        }
        return '';
      },
      showData: function(region,e){

        /**
         * 小图标
         * 收起 icon-triangle-right
         * 展开 icon-triangle-copy-copy-copy
         */
        if (Array.isArray(this.list_region[region.id]) && this.list_region[region.id].length > 0){
          let targetIcon = $(e.currentTarget).find('.icon');
          if (targetIcon.hasClass('icon-triangle-right')){
            let child_list = $(e.currentTarget).next('.child-list');

            if (child_list.children().length === 0){
              child_list.html($(`.tab${region.id}`));
            }
            targetIcon.removeClass('icon-triangle-right');
            targetIcon.addClass('icon-triangle-copy-copy-copy');
            $(`.tab${region.id}`).show();
          }else if (targetIcon.hasClass('icon-triangle-copy-copy-copy')){
            targetIcon.removeClass('icon-triangle-copy-copy-copy');
            targetIcon.addClass('icon-triangle-right');
            $(`.tab${region.id}`).hide();
          }
        }else{
          $('#tree .item').removeClass('active');
          if (!$(e.currentTarget).hasClass('active')){
            $(e.currentTarget).addClass('active');
          }

          // 保存选中的地区
          edit_area.area = $(e.currentTarget).find('.region-name').html();
          edit_area.area_id = $(e.currentTarget).attr('data-id');
          // 获取区域下的锁列表
          this.findLocksByArea(region.id);
        }
      },
      findLocksByArea: function(region_id) {
        $.ajax({
          url: `<$ helper.getHost() $>/web/get_locks`,
          type: 'get',
          data: {
            region_id
          },
          success: function(res){
            if (res.code === 0){
              page.list_lock = res.data.list;
            }
          }
        });
      },
      edit: function(lock){

        // 锁名称和id
        edit_area.lock = lock.name;
        edit_area.lock_id = lock.id;
        edit_area.error_tips = '';

        let layerEdit = layer.open({
          type: 1,
          title: '编辑锁',
          content: $('#edit-lock'),
          area: ['500px', '300px'],
          skin: 'ilock',
        });
        $('#edit-lock').find('.layer-btn-cancel').attr('layer-index',layerEdit);
      },
      auth: function(lock) {
        // 锁名称和id
        $('#auth-lock').find('input[name="lock"]').val(lock.name);
        $('#auth-lock').find('input[name="lock_id"]').val(lock.id);

        let layerAuth = layer.open({
          type: 1,
          title: '授权开锁',
          content: $('#auth-lock'),
          area: ['600px', '340px'],
          offset: '100px',
          skin: 'ilock',
        });
        $('#auth-lock').find('.layer-btn-cancel').attr('layer-index',layerAuth);
      },
    }
  });
</script>
<!-- 锁编辑 -->
<script type="text/javascript">
    let edit_area = new Vue({
      el: '#edit-lock',
      data: {
        lock: '',
        lock_id: 0,
        area: '',
        area_id: 0,
        error_tips: '',
      }
    });

    // 选择地区弹窗
    $(document).on('click','#area',function() {
      layer.open({
        title: '选择区域',
        type: 1,
        content: $('#tree'),
        area: ['auto', '500px'],
        offset: ['auto','calc(50% + 250px)'],
        shade: false
      });
    });

    // 保存修改
    $(document).on('click','.edit-confirm',function(){

      $.ajax({
        url: `<$ helper.getHost() $>/web/edit_lock`,
        type: 'post',
        data: {
          lock_id: edit_area.lock_id,
          lock_name: edit_area.lock,
          region_id: edit_area.area_id,
          _csrf: `<$ ctx.csrf $>`
        },
        success: function(res){
          if (res.code === 0){
            page.findLocksByArea(edit_area.area_id);
            layer.closeAll();
            layer.msg('修改成功',{time: 1000});
          }else{
            edit_area.error_tips = res.msg;
          }
        },
        error: function(){
          edit_area.error_tips = '服务器异常,请稍后再试~';
        }
      });
    });

</script>

<!-- 授权开锁 -->
<script type="text/javascript">
    let authLock = new Vue({
      el: '#auth-lock',
      data: {
        list_user: JSON.parse(`<$ list_user | safe $>`),
      },
      methods: {
        dropdown: function(e) {
          $('.dropdown').hide();
          $(e.currentTarget).closest('.form-group').find('.dropdown').show();
        },
        chosenUser: function(user){
          $('.dropdown').hide();
          $('#user').val(user.name);
          $('#auth-lock').find('input[name="user_id"]').val(user.id);
        },
        chosenTime: function(t,e){
          $('.dropdown').hide();
          this.duration = t;
          $('#duration').val($(e.currentTarget).html());
        },
        confirm: function() {
          let form = $('#auth-lock').find('form');
          $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function(res) {
              if (res.code === 0){
                layer.msg('授权成功',{ time: 1500 },function(){
                  layer.closeAll();
                });
              }else{
                layer.msg(res.msg);
              }
            },
            error: function() {
              layer.msg('服务器异常');
            }
          });
        }
      }
    });
</script>

<!-- 时间选择 -->
<script type="text/javascript">
  let start = laydate.render({
    elem: '#startTime' //指定元素
    ,type: 'datetime'
    ,theme: '#00CA7C'
    ,done: function(value, date, endDate){
      console.log(date);
      end.config.min = {
        year:date.year,
        month:date.month - 1, //关键
        date: date.date,
        hours: date.hours,
        minutes: date.minutes,
        seconds: date.seconds
      };
    }
  });

  let end = laydate.render({
    elem: '#endTime' //指定元素
    ,theme: '#00CA7C'
    ,type: 'datetime'
    ,done: function(value, date, endDate){
      start.config.max = {
        year:date.year,
        month:date.month - 1, //关键
        date: date.date,
        hours: date.hours,
        minutes: date.minutes,
        seconds: date.seconds
      };
    }
  });
</script>

<% endblock %>
