<% extends "layout/main.html" %>

<% block content %>
<div id="page">
    <div class="content">
        <!-- 数据展示 -->
        <div class="data-page">
            <!-- 检索 -->
            <div class="page-nav">
                <div class="util-btn">
                    <button class="tb-btn tb-btn-auth">新建角色</button>
                </div>
            </div>
            <!-- table -->
            <table>
                <thead>
                <th class="tb-col-2">角色名称</th>
                <th class="tb-col-5">角色权限</th>
                <th class="tb-col-5">角色描述</th>
                <th class="tb-col-3 text-center">创建时间</th>
                <th class="tb-col-3 text-center">操作</th>
                </thead>
                <tbody>
                <tr>
                    <td class="tb-col-2">组长</td>
                    <td class="tb-col-5">角色管理权限</td>
                    <td class="tb-col-5">----</td>
                    <td class="tb-col-3 text-center">2019-12-23 11:37</td>
                    <td class="tb-col-3 text-center">
                        <button class="tb-btn tb-btn-edit">编辑</button>
                        <button class="tb-btn tb-btn-del">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- 分页 -->
            <div class="paginate">
                <div class="page-link">上一页</div>
                <div class="page-link">1</div>
                <div class="page-link">2</div>
                <div class="page-link">3</div>
                <div class="page-link">下一页</div>
            </div>
        </div>
    </div>
</div>
<% endblock %>

<% block script %>
<script type="text/javascript">
  let page = new Vue({
    el: '#page',
    data: {
      list_agent: [
        {
          name: '一级区域',
          is_open: false,
          children: [
            {
              name: '二级区域',
              is_open: false
            }
          ],
        },
        {
          name: '一级区域',
          is_open: false,
          children: [],
        },
      ]
    },
    methods: {
      getAgentClass: function(agent){
        if (agent.children != null && agent.children.length > 0){
          if (!agent.is_open){
            return 'icon-triangle-right';
          }else{
            return 'icon-triangle-copy-copy-copy';
          }
        }
        return '';
      }
    }
  });
</script>
<% endblock %>
