/*全局*/
html,body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: PingFang SC;
    background: #F1F1F1;
    height: 100%;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

#page{
    margin-left: 15rem;
    padding: 1.5rem;
    width: calc(100% - 15rem);
    /*min-height: calc(100% - 3.75rem);*/
    /*height: calc(100% - 3.75rem);*/
}
#page .content{
    min-height: calc(100% - 6.75rem);
    display: flex;
    align-items: stretch;
}

/*顶部*/
.top-nav{
    height: 3.75rem;
    background: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
}
.top-nav .nav{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.top-nav .tab-info{
    color: #333333;
}
.top-nav .tab-info .tab-avatar{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}
.top-nav .tab-info .tab-avatar img{
    width: 100%;
}

.top-nav .message,.top-nav .logout{
    font-size: .88rem;
    color: #666666;
    cursor: pointer;
}

/*左边导航栏 */
.left-nav{
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 14rem;
    min-height: 100%;
    background: #29313E;
    color: #7B8595;
    font-size: 1rem;
}
.left-nav-head{
    height: 3.75rem;
    text-align: center;
    line-height: 3.75rem;
    color: #FFFFFF;
    background: #1F252F;
}
.left-nav .nav-item .item{
    position: relative;
    cursor: pointer;
}
.left-nav .nav-item .item:hover{
    color: #FFFFFF;
    background: #252C38;
}
.left-nav .nav-item .parent-item .trig{
    position: absolute;
    right: 1rem;
}
.left-nav .nav-item .item.child-item{
    height: 3.5rem;
    line-height: 3.5rem;
    background: #252C38;
}
.left-nav .nav-item .child-item.active{
    color: #00CA7C;
    background: #1E242E;
    border-left: 1px solid #00CA7C;
}
.left-nav .nav-item .item.parent-item{
    height: 3.75rem;
    line-height: 3.75rem;
}
.left-nav .nav-item .parent-item.active{
    color: #FFFFFF;
    background: #252C38;
}
.left-nav .nav-item .item .icon{
    left: 1rem;
    position: absolute;
}
.left-nav .nav-item .item .title{
    margin-left: 2.75rem;
}

/*内容*/
.left-tree{
    min-width: 12.5rem;
    margin-right: 1.5rem;
    background: #FFFFFF;
}
.tree-list{
    font-size: .88rem;
    padding: .73rem 1.5rem .73rem .73rem;
    color: #333333;
}
.tree-list .tree-tab{
    display: none;
}
.tree-list .tab0{
    display: block;
}
.tree-list .tree-item{
    margin-left: 1.25rem;
}
.tree-list .item{
    position: relative;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.tree-list .item .icon{
    position: absolute;
    font-size: 1rem;
    left: -1.2rem;

}

.tree-list .item:hover,.tree-list .active{
    color: #00CA7C;
}


/* data */
.content .data-page{
    background: #FFFFFF;
    padding: 2.75rem;
    flex: 1;
    font-size: .88rem;
}

/*搜索*/
.page-nav{
    display: flex;
    margin-bottom: 1.5rem;
}
.search-group{
    display: flex;
}
.search-group .search-bar{
    margin: 0 .5rem;
}
.ipt-sh-text{
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding: 5px 10px;
}


.text-333333{
    color: #333333;
}
.text-A9A9A9{
    color: #A9A9A9;
}
.region .tb-header{
    background: #F5F8F7;
    border-radius: 4px;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1rem;
    display: flex;
    font-weight: bold;
}
.region .tb-list{
    display: none;
}
.region .tb-list.tab0{
    display: block;
}
.region .tb-body .item{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: .88rem;
    display: flex;
}
.region .tb-header .tb-title{
    padding-left: 1.5rem;
}
.region .tb-title{
    padding-left: 1.2rem;
    position: relative;
    flex: 8;
}
.region .tb-title .icon{
    left: 0;
    position: absolute;
}
.region .tb-operate{
    flex: 1;
}
.region .tb-body .tb-item{
    padding-left: 1.5rem;
}

/*input 输入样式*/
.sel[readonly]{
    background-color: #ffffff;
    cursor: pointer;
}
.sel-icon{
    position: absolute;
    right: .375rem;
    top: .75rem;
    width: 8px;
    height: 13px;
    z-index: 4;
    background: url("../images/icon/icon_jiantou.png") no-repeat;
}


/*弹窗*/
.layer-pop{
    padding: 1.5rem 20px;
    display: none;
    font-size: 14px;
}
.layer-btn{
    padding: .5rem 1.5rem;
    margin: 1rem;
    text-align: center;
    border: none;
}
.layer-btn-success{
    background-color: #00CA7C;
    color: #ffffff;
}
.layer-btn-cancel{
    background-color: #D7DCDA;
    color: #333333;
}
.layer-pop .error-tips{
    position: absolute;
    padding: .5rem 0;
    color: #F2535A;
    font-size: .77rem;
    left: 1rem;
    bottom: -1.75rem;
}

/*下拉框*/
.dropdown{
    display: none;
    position: absolute;
    background: #FFFFFF;
    z-index: 19891015;
    box-shadow: 0 0 3px #000000;
    min-width: 120px;
    max-height: 300px;
    overflow: auto;
    right: 15px;
}
.sel-item .item{
    padding: .5rem 0;
    text-align: center;
    cursor: pointer;
}
.sel-item .time:hover{
    background: #F3F3F3;
}
.sel-user{
    left: 15px;
}
.sel-item .item:hover{
    color: #00CA7C;
}

/*选择用户弹窗*/
.user-list{
    /*background-color: #FFFFFF;*/
}
.user-list .user{
    display: flex;
    border-bottom: 1px solid #F3F3F3;
    background: #ffffff;
    padding: .75rem;
    cursor: pointer;
}
.user-list .user.active,.user-list .user:hover{
    background: #00CA7C;
    color: #FFFFFF;
}
.user-list .user .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-list .user .avatar img{
    width: 100%;
}
.user-list .user .info{
    font-size: .75rem;
    padding: 0 .75rem;
    display: flex;
    flex-direction: column;
}

/*CheckBox*/
.my-checkbox{
    margin: 0 .5rem;
    line-height: 1.5rem;
}
.custom-control-input:checked~.ck-label:before{
    border-color: #00CA7C;
    background-color: #00CA7C;
}
