/**
*layer弹窗自定义样式
*edit-lock 在layer  skin定义
*/

body .ilock .layui-layer-title{background:#00CA7C; color:#fff;}
body .ilock .layui-layer-ico{background: url("../images/icon/tanchuang_gb.png") no-repeat;}
body .layui-layer{border-radius:5px;}
body .layui-layer .layui-layer-content{overflow: visible}

/*滚动条*/
.layui-layer-content::-webkit-scrollbar-track,.myscroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.layui-layer-content::-webkit-scrollbar-track,.myscroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 1px rgba(0, 0, 0, 0.2);
    background   : #E6E6E6;
}
.layui-layer-content::-webkit-scrollbar-track,.myscroll::-webkit-scrollbar-track  {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #F3F3F3;
}
