<html>
<head>
    <title>艾乐科后台登录系统</title>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />


    <!-- css 文件-->
    <link rel="stylesheet" href="/static/vendor/iconfont/iconfont.css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/login.css" />

    <!-- js文件 -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/vendor/vue/vue.min.js"></script>
    <script type="text/javascript" src="/static/vendor/layui/layer/layer.js"></script>
</head>
<body>
    <div class="bg-login">
        <div class="tab-login">
            <div class="tab-login-title">艾乐科智能锁管理系统</div>
            <form action="" method="post" return_url="<$ returnUrl $>" autocomplete="off">

                <div class="form-group">
                    <div class="text-danger text-error"></div>
                    <div class="ipt-text">
                        <input type="text" name="username" placeholder="请输入账号" autocomplete="off" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="ipt-text">
                        <input type="password" name="password" placeholder="请输入密码" autocomplete="off" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="ipt-text">
                        <input type="text" name="code" maxlength="5" placeholder="请输入验证码" autocomplete="off" />
                        <div class="captcha"><img src="/web/get_captcha" onclick='javascript:this.src="/web/get_captcha?tm" + Math.random()'/></div>
                    </div>
                    <div class="text-danger text-error"></div>
                </div>

                <div class="form-group">
                    <button type="button" class="login-btn">登录</button>
                </div>
                <input type="hidden" name="_csrf" value="<$ ctx.csrf $>">
            </form>

        </div>
    </div>
<script>
    $(document).on('click','.login-btn',function(){
      $.ajax({
        url: window.location.href,
        type: 'post',
        data: $('form').serialize(),
        success: function(res){
            if (res.code === 0){
              let return_url = $('form').attr('return_url');
              if (return_url){
                window.location.href = return_url;
              }else{
                window.location.href = `<$ helper.getHost()$>/web/locks`;
              }
            }else if(res.code === 1){
              if (res.err_field === 'code' ){
                $("input[name='code']").closest('.form-group').find('.text-error').html('验证码错误');
              }else if (res.err_field === 'name_pwd'){
                $("input[name='username']").closest('.form-group').find('.text-error').html('用户名或密码错误');
              }else{
                layer.msg(res.msg);
              }
            }
        },
        error: function(){
          layer.msg('登录异常');
        }
      });
    });

    $(document).on('input propertychange','input',function(){
      $('.text-error').html('');
    });
</script>
</body>
</html>
