<!-- meta -->
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />


<!-- css 文件-->
<link rel="stylesheet" href="/vendor/iconfont/iconfont.css" />
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/table.css" />

<!-- js文件 -->
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/vendor/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/vue/vue.min.js"></script>
<script type="text/javascript" src="/vendor/layui/layer/layer.js"></script>
