<div class="top-nav">

    <div class="nav message">
        <icon class="iconfont">&#xe72c;</icon>
        <span style="margin-left: .05rem;">消息通知</span>
    </div>

    <div class="nav logout">
        <icon class="iconfont">&#xe602;</icon>
        <span style="margin-left: .05rem;">退出登录</span>
    </div>

    <div class="nav tab-info">
        <div class="tab-avatar">
            <img src="/images/avatar/avatar-01.jpg" />
        </div>
        <div class="tab-name">admin</div>
    </div>
</div>
